body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img#hslogo {
  float: right;
  margin: 8px;
  width: 85px;
}

body {
  background: khaki;
  margin: 15px;
}

div#frame {
  display: block;
}

.boards {
  position: relative;
  margin: 20px 20px;
  display: inline-block;
  /*float: left;*/
}

div#b0 {
  float: left;
}

.disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.scores {
  font-size: 2em;
  /* 40px/16=2.5em */
  margin: 10px 0px;
}

.rules {
  font-size: 1.5em;
  display: block;
  margin: 20px 10px;
}

span.emphasized {
  font-weight: bold;
  background-color: yellow;
}

canvas.dead {
 opacity: 0.5;
}